/* -------------------------------------------------- Navbar CSS */
.navbar {
  background: rgb(233, 51, 35);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

#navbar__logo {
  background-color: #ff8177;
  background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 48px;
}

.navbar__links {
  font-family: "Formula1-Bold";
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar__links:hover {
  background: rgb(31, 31, 38);
  transition: all 0.3s ease;
}

/* -------------------------------------------------- Mobile Responsive */
@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: 50px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    height: 15rem;
    z-index: -1;
  }

  .navbar__menu.active {
    background: rgb(233, 51, 35);
    top: 100%;
    opacity: 1;
    pointer-events: all;
    transition: all 0.3s ease;
    z-index: 99;
    height: 15rem;
    font-size: 1.2rem;
  }

  #navbar__logo {
    padding-left: 1rem;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px 0;
    padding-right: 1rem;
    transition: all 0.3s ease-in-out;
    background: white;
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: left;
    padding-top: 0.75rem;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(-45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(45deg);
  }
}
